@import 'tailwindcss';

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  align-items: center;
}

#root {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  height: 100dvh;
}

button {
  padding: 10px 20px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px 0;
  font-size: 16px;
}

button:hover {
  background-color: #0051cc;
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  border-radius: 12px;
  margin: 15px auto;
  width: 100vw;
}
